:root {
    --primary-color: #f6a0a4;
    --text-placement: center;
    --transitons-hover: 300ms ease-in-out;
    --main-font: "Yellowtail", cursive;
    --primary-font:"Old Standard TT", serif;
    --secondary-font: "Open Sans", sans-serif;
    --border: 2px solid white;
    ---border-radius: 8px;
    --margin-top-section: 100px;
  }


/* Homepage */
header{
    background-image: url(../images/Jordanka.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}
  header, h1 h2 h3 {
    padding-left: 20px;
  }

 header h1{
    font-size: 80px;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-style: normal;
 }


header h2, header h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #5b2f2db9;
}
 
header h2 {
    padding-top: 50px; 
    line-height: 2.5;
}

header h3 {
    font-size: 40px;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 200px;
}
.arrow-icon{
    padding-top: 20px;
    font-size:80px;
}

section h3 {
    text-align: center;
    font-size: 80px;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-style: normal;
    line-height: 3;
    text-decoration: underline;
}

.project-gallery h3 {
  margin-bottom: 30px;
}
.container {
  display: flex;
  flex-direction: column;
}

.imageContainer {
display: flex;
 width: 300px;
 height: 450px;
 border-radius: 40px;
 background-size: 95% 100%;
 background-repeat: no-repeat;
 background-position: center;
 margin-bottom: 25px;
}

.text {
 position: relative;
 display: flex;
 justify-content:start;
 align-items:start;
 width: 300px;
 height: 450px;
 padding: 20px;
 padding-top: 80px;


 .app-title {
   position: absolute;
   visibility: hidden;
 }
 #launch-app{
   visibility: hidden;
   position: absolute;
   justify-content: flex-end;
   align-items:flex-end;
   top: 67%;
 }

 p {
   visibility: hidden;
   color: white;
   margin-bottom: 0;
 }


 &:hover {
   width: 300px;
   height: 450px;
   margin-left: 5px;
   background-size: contain;
   background-color: rgba(0, 0, 0, 0.7);
   border-inline-start: medium solid #f6a0a4;
   border-radius: 8px;

 }


 &:hover .app-title {
   visibility: visible;
   font-size: 40px;
   color:white;
   top:2%;
   text-decoration: underline;
 
 }


 &:hover p {
   visibility: visible;
 }
 &:hover #launch-app{
   visibility: visible;
 }
}


#mermaid {
 background-image: url(../images/Mermaid.png);
}


#clock-app {
 background-image: url(../images/clock.png);
}


#weather-app {
 background-image: url(../images/Weather_App.png);
}


#dictionary-app {
 background-image: url(../images/Dictionay.png);
}


#marc-anthony {
 background-image: url(../images/Marc-landing.png);
 }


#italian-recipes {
 background-image: url(../images/AIrecipe.png);
}

 #launch-app {
    background: #f49aa6; 
    border-radius: 8px;
  } 
  #launch-app:hover {
    background: rgba(248, 52, 101, 0.885);
    color: rgb(255, 255, 255);
    transition: var(--transitons-hover);
  }


/* About Page */

.about-bg{
  margin: 12px;
}

.about-bg .col-md-4{
  background-color: var(--primary-color);
}
.about-bg .col-md-8{
  background-color: black;
  padding: 30px;
}
.about-info{
    color:#ffdfe1;
}

.about-h1{
    font-size: 80px;
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-style: normal;
    color:var(--primary-color);
}
.about-h2, .resumeTitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: var(--primary-color);
}
.card{
    display: block;
    margin-top: 80px;
}
#Resume-button{
  background-color: #f49aa6;
  border-radius: 20px;
}

#Resume-button:hover {
    background: rgba(248, 52, 101, 0.885);
    color: rgb(255, 255, 255);
    transition: var(--transitons-hover);
  }


  /* Contact Page */

.contact-bg{
    background-color: var(--primary-color);    
}

.contactContainer {
    background-color: #ffffff64;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 700px;
    border: 2px solid white;  
    border-radius: 20px; 
    line-height: 2;
}

.contactContainer h1 {
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: 900;
  font-style: italic;
}
.form-contact{
  font-family: var(--main-font);
  max-width: 20rem;
}
::placeholder {
  font-family: var(--secondary-font);
}

#sendButton{
  border-radius: 20px;
  font-family: var(--primary-font);
}

#sendButton:hover {
   background: rgba(248, 52, 101, 0.885);
    color: rgb(255, 255, 255);
    transition: var(--transitons-hover);
}


footer{
    background-color: black;
    color: #ffa3ab83 ;
    padding: 40px;   
}

footer a {
    color: rgba(255, 255, 255, 0.588);
}

footer .footerText {
  font-size: 13px; 
}
footer .link-icons {
  font-size: 20px;
}


 @media (max-width: 1200px) {
   header h1{
     font-size: 70px;
     padding-left: 0;
  }
  header h2 {
    padding-top: 30px;
    line-height: 1.5;
    font-size: 25px;
  }
  header h3{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
 }
 @media (max-width: 950px) {
   header h1{
     font-size: 50px;
     padding-left: 0;
  }
  header h2 {
    padding-top: 30px;
    line-height: 1.5;
    font-size: 15px;
  }
  header h3{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .card { 
    display: block;
    margin: 40px;
  
 
}
 }
  @media (max-width: 700px) {
   header h1{
     font-size: 35px;
     padding-left: 0;
  }
  header h2 {
    padding-top: 15px;
    line-height: 1.5;
    font-size: 12px;
  }
  header h3{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
.about-h1{
    font-size: 60px;

 }

 @media (max-width: 450px) {
  header{
     padding-bottom: 100px;
  }
  header h1{
     font-size: 23px;
     padding-left: 0;
  }
  header h2 {
    padding-top: 10px;
    line-height: 1.5;
    font-size: 12px;
  }
  header h3{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 50px;
  }
  .arrow-icon{
    padding-top: 20px;
    font-size:40px;
}
 &:hover #launch-app{
  padding: 10px !important;
  font-size: 15px;
 }

 .contactContainer{
  max-width: 350px;
 }

 #message {
  max-width: 20rem;
 }
}