.container {
    max-width:none;
    margin:0 auto;
}
header{
   background-image: url("../images/Jordanka.png");
   background-repeat: no-repeat;
   background-size: cover;  
}

h1, h2, h3 {
    margin-left: 80px;
    font-size: 100px;
}
